{
  "presets": [
    ["env", {
      "target": {
        "node": "current"
      }
    }], "stage-0"
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
