@import '~themes/vars.less';

.footer {
  width: 100vw;
  min-height: 70px;
  margin-top: 20px;
  text-align: center;
  line-height: 70px;
  font-size: 14px;
  background-color: @footer-color;
  color: #ffffff;
}